# Development and CI/CD config
.github
.husky
.vscode

# TypeScript
tsconfig.json

# Coverage directory used by tools like istanbul
coverage

# Optional eslint cache
.eslintcache

# eslint config
.eslintrc.js

# Prettier config
.prettierignore
.prettierrc

# Documentation
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
src/lib/win32/unrtf*/contrib/**
!src/lib/win32/unrtf*/contrib/**/COPYING
!src/lib/win32/unrtf*/contrib/**/README
src/lib/win32/unrtf*/man/**
src/lib/win32/unrtf*/manifest/**

# Test files
src/**/*.test.js
test_files
test_resources
*.wmf
*.emf